<div [formGroup]="imageSelectionFormGroup">  
  <mat-grid-list cols="2" rowHeight="300px" [gutterSize]="'10px'">
    <mat-grid-tile>
      <easy-dropdown class="dropdown-width"
                      [dropdownFormControl]="getIconFormControl()"
                      [formInputData]="formConfigDataMap.get(GameImageTypeSelectionControlName.Icon)"
                      [dropdownOptions]="gameImageTypeDropdownOptions">
      </easy-dropdown>
      <div *ngIf="!selectedIconUrl"
            class="image-preview-placeholder">
      </div>
      <div class="image-preview-container">
        <img *ngIf="selectedIconUrl"
              src="{{selectedIconUrl}}"
              alt="selected icon image"
              class="image-preview">
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <easy-dropdown class="dropdown-width"
                      [dropdownFormControl]="getBannerFormControl()"
                      [formInputData]="formConfigDataMap.get(GameImageTypeSelectionControlName.Banner)"
                      [dropdownOptions]="gameImageTypeDropdownOptions">
      </easy-dropdown>
      <div *ngIf="!selectedBannerUrl"
            class="image-preview-placeholder">
      </div>
      <div class="image-preview-container">
        <img *ngIf="selectedBannerUrl"
              src="{{selectedBannerUrl}}"
              alt="selected banner image"
              class="image-preview">
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<disabled-element-tooltip [text]="'Please select an image.'"
                          [isChildDisabled]="isDownloadButtonDisabled"
                          [tooltipPosition]="'right'">
  <button mat-raised-button
          color="primary"
          [disabled]="isDownloadButtonDisabled"
          (click)="onDownloadClicked()">
    <mat-icon>arrow_circle_down</mat-icon>
    Download Images
  </button>
</disabled-element-tooltip>
