<div [formGroup]="imageSelectionFormGroup">  
  <div class="row">
    <div class="column margin-sm">
      <easy-dropdown [dropdownFormControl]="getIconFormControl()"
                      [formInputData]="formConfigDataMap.get(GameImageTypeSelectionControlName.Icon)"
                      [dropdownOptions]="gameImageTypeDropdownOptions">
      </easy-dropdown>
      <easy-image-preview [url]="selectedIconUrl">
      </easy-image-preview>
    </div>

    <div class="column margin-sm">
      <easy-dropdown [dropdownFormControl]="getBannerFormControl()"
                      [formInputData]="formConfigDataMap.get(GameImageTypeSelectionControlName.Banner)"
                      [dropdownOptions]="gameImageTypeDropdownOptions">
      </easy-dropdown>
      <easy-image-preview [url]="selectedBannerUrl">
      </easy-image-preview>
    </div>
  </div>
</div>
