<mat-card class="margin-lg">
  <mat-card-content>
    <mat-vertical-stepper [linear]="true">
      <!--  -->
      <mat-step [stepControl]="getGameSelectionFormGroup()"
                [label]="'Select a Game'">
        <div>
          <game-selection [gameSelectionFormGroup]="getGameSelectionFormGroup()">
          </game-selection>
          <next-back-stepper-buttons [showNext]="true"></next-back-stepper-buttons>
        </div>
      </mat-step>
      <!--  -->
      <mat-step [label]="'Select & Download Images'">
        <div>
          <image-selection [imageSelectionFormGroup]="getImageTypeSelectionFormGroup()"
                            [gameSelectionId]="gameSelectionId"
                            (baseImageUrlsUpdated)="setImageSelectionUrls($event)">
          </image-selection>
          <!-- TODO: make this easier to read -->
          <!-- TODO: fix styling -->
          <!-- TODO: disable after download until the form changes -->
          <div class="row">
            <div class="column">
              <next-back-stepper-buttons [showBack]="true"></next-back-stepper-buttons>
            </div>
            <div class="column">
              <disabled-element-tooltip [text]="'Please select an image.'"
                                        [isChildDisabled]="getImageTypeSelectionFormGroup().hasError('atLeastOneRequired')"
                                        [tooltipPosition]="'right'">
                <button mat-raised-button
                        color="primary"
                        [disabled]="getImageTypeSelectionFormGroup().hasError('atLeastOneRequired')"
                        (click)="downloadImages()">
                  <mat-icon>arrow_circle_down</mat-icon>
                  Download Images
                </button>
              </disabled-element-tooltip>
            </div>
          </div>
        </div>
      </mat-step>
      <!--  -->
    </mat-vertical-stepper>
  </mat-card-content>
</mat-card>