<mat-card class="margin-lg">
  <mat-card-content>
    <mat-card-title>Find Game Art</mat-card-title>
    <introduction></introduction>

    <easy-divider></easy-divider>

    <div class="padding-lg">
      <h2>Find Game</h2>
      <game-selection [gameSelectionFormGroup]="getGameSelectionFormGroup()"
                      [platforms]="platforms"
                      [games]="games">
      </game-selection>

      <!-- Image Selection -->
      <!-- TODO: develop a disabled state for titles -->
      <h2>Select Images</h2> 
      <image-selection [imageSelectionFormGroup]="getImageTypeSelectionFormGroup()"
                        [gamesImagesDictionary]="gamesImagesDictionary"
                        [selectedIconUrl]="selectedIconUrl"
                        [selectedBannerUrl]="selectedBannerUrl">
      </image-selection>
    </div>

    <easy-divider></easy-divider>

    <!-- TODO: Uncomment when you want to test :-) -->
    <!-- <div class="padding-lg">
      <h2>Display Info</h2>
      <pre>{{getGameSelectionFormGroup().get(GameSelectionControlName.Game).value | json}}</pre>
    </div> -->

    <!-- Save -->
    <button mat-raised-button
            color="accent"
            class="center giant-button mat-elevation-z8"
            [ngClass]="{'download-button-gradient' : !isDownloadButtonDisabled}"
            [disabled]="isDownloadButtonDisabled"
            (click)="downloadImages()">
      <mat-icon>arrow_circle_down</mat-icon>
      Download Images
    </button>

    <button mat-raised-button
            color="accent"
            class="center giant-button mat-elevation-z8"
            [ngClass]="{'download-button-gradient' : !isDownloadButtonDisabled}"
            [disabled]="isDownloadButtonDisabled"
            (click)="buildOverlay()">
      <mat-icon>arrow_circle_down</mat-icon>
      Build Overlay
    </button>
  </mat-card-content>
</mat-card>