<!-- TODO: Uncomment the following to test API and Image Downloading -->
<!-- <button (click)="downloadImages()"
        [disabled]="isDownloadButtonDisabled">
    Download Puppy Image
</button> -->

<mat-card class="margin-lg">
  <mat-card-content>
    <mat-vertical-stepper [linear]="true">
      <!--  -->
      <mat-step [stepControl]="gameSelectionComponent.formGroup"
                [label]="'Select a Game'">
        <div class="padding-sm-top">
          <game-selection (gameSelected)="setGameSelectionId($event)">
          </game-selection>
          <next-back-stepper-buttons [showNext]="true"></next-back-stepper-buttons>
        </div>
      </mat-step>
      <!--  -->
      <mat-step [label]="'Select Image Types'">
        <div class="padding-sm-top">
          <image-selection [gameSelectionId]="gameSelectionId"
                            (imagesSelected)="setImageSelectionUrls($event)">
          </image-selection>
          <next-back-stepper-buttons [showBack]="true" [showNext]="true"></next-back-stepper-buttons>
        </div>
      </mat-step>
      <!--  -->
      <mat-step [label]="'Download Images'">
        <div class="padding-sm-top">
          <download-selection [imageSelectionUrls]="imageSelectionUrls"></download-selection>
          <next-back-stepper-buttons [showBack]="true"></next-back-stepper-buttons>
        </div>
      </mat-step>
      <!--  -->
    </mat-vertical-stepper>
  </mat-card-content>
</mat-card>