<mat-form-field appearance="fill"
                color="accent"
                class="autocomplete-width">
  <mat-label>{{formInputData?.Label}}</mat-label>
  <input type="text"
          placeholder="{{formInputData?.PlaceholderText}}"
          aria-label="Platform"
          matInput
          [formControl]="autocompleteFormControl"
          required
          [matAutocomplete]="autocomplete">
  <mat-autocomplete #autocomplete
                    [displayWith]="AngularMaterialAutocompleteUtils.GetDropdownOptionText">
    <mat-option *ngFor="let option of filteredDropdownOptions | async"
                [value]="option">
        {{option.Text}}
    </mat-option>
  </mat-autocomplete>
  <a matSuffix
      [ngClass]="{
                  'cursor-pointer' : autocompleteFormControl.enabled,
                  'disabled-icon' : autocompleteFormControl.disabled
                  }"
      (click)="resetFormControl()">
    <mat-icon>close</mat-icon>
  </a>
  <mat-error *ngIf="autocompleteFormControl?.errors">{{errorMessage}}</mat-error>
</mat-form-field>