/* You can add global styles to this file, and also import other style files */
@import "./app/shared/styles/spacing.sass"
@import "./app/shared/styles/pointer.sass"
@import "./app/shared/styles/angular-material-helpers"
@import "./app/shared/styles/row-column"

html, body
  height: 100% 
body
    margin: 0
    font-family: Roboto, "Helvetica Neue", sans-serif
